@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");

:root {
  --font: "Poppins", monospace, serif;
  --bg-color: #f5f5f5;
  --bg-gray: rgba(162, 162, 162, 0.412);
  --light-blue: #00a6e8f0;
  --dark-blue: #0a64ff;
  --dark-yellow: #ffd856;
  --navy-blue: #192a53;
  --skew-angle: -8deg;
  --skew-angle-opposite: 8deg;
}

body {
  background-color: var(--bg-color);
  width: 100%;
  font-family: var(--font);
}

/* adding extra space at the top because having fixed navbar at the top pushes the othe contents down */
body::before {
  display: block;
  content: "";
  height: 4rem;
}

/* custom utility classes */
.dark-blue {
  background-color: var(--dark-blue);
}

.skew {
  transform: skew(var(--skew-angle));
}
.skew-back {
  transform: skew(var(--skew-angle-opposite));
}

.navy-blue {
  background-color: var(--navy-blue);
}

.bg-navyblue {
  background-color: var(--navy-blue);
}

.light-blue {
  color: var(--light-blue);
}

.bg-lightblue {
  background-color: var(--light-blue);
}

/* -----------------------------NAVBAR SECTION------------------------------------------------------------------ */

.navbar-dark .navbar-nav .nav-link {
  color: #f5f5f5;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #b3b3b3; /* Lighter color on hover for nav links */
}

.custom-skewed-border-right {
  height: 2.8rem;
  width: 0.16rem;
  background-color: var(--bg-gray);
  transform: skew(var(--skew-angle));
}

.btn-container {
  padding: 0.6rem 0.8rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 5px;
}

.btn-container .btn {
  border-radius: 0;
}

.btn-container button {
  transform: skew(var(--skew-angle));
}

.btn-container button .skew-back {
  display: inline-block;
  transform: skew(var(--skew-angle-opposite));
  /* applying the angle in opposite to make the text straight */
}

.quote-btn {
  background-color: var(--light-blue);
  border: inherit;
  padding: 0.6rem 1rem;
}

.phone-btn {
  background-color: black;
  border: 2px solid white;
  padding: 0.55rem 1rem;
}

.online-status {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* -----------------------------HERO SECTION------------------------------------------------------------------ */

.showcase {
  background-image: url("../assets/images/plumbing-cost-hydro-blog-cont-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.showcase-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

.showcase .container-fluid {
  z-index: 1;
}

.display-2 {
  font-weight: 800;
  white-space: nowrap;
}

.display-2:nth-child(2) {
  background-color: var(--dark-blue);
  padding: 5px 25px;
  clip-path: polygon(0 0, 100% 0%, 96% 100%, 0% 100%);
}

.wrapper img {
  border-radius: 50%;
  background-color: var(--light-blue);
}

img.technician-image {
  width: 100%;
}

.banners {
  right: 40px;
  bottom: 0;
  height: 200px;
  width: 40%;
  transform: skew(var(--skew-angle));
}

.banners i {
  color: gold;
}

.banners .banner {
  color: white;
  padding: 0.8rem 1.3rem;
}
.banner.google-card {
  background-color: rgb(215, 19, 19);
}

.banner.facebook-card {
  background-color: var(--dark-blue);
}

.banner.emergency-card {
  background-color: var(--dark-yellow);
  color: black;
}

.banner .content {
  transform: skew(var(--skew-angle-opposite));
}

.banners .rating-text {
  font-size: 0.7rem;
  font-weight: 400;
}

/* Quote Section */

.sticker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-image {
  max-width: 330px;
  height: auto;
}

.outer-parallelogram {
  height: 180px;
  width: 180px;
  background-color: var(--light-blue);
  transform: skew(var(--skew-angle));
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-parallelogram {
  height: 150px;
  width: 150px;
  border: 4px dashed white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.inner-parallelogram .content {
  font-weight: 600;
  transform: skew(var(--skew-angle-opposite));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Form section */

.form .custom-container {
  max-width: 1400px;
  margin-inline: auto;
}

.form span.info {
  font-size: 0.8rem;
}

form button[type="submit"] {
  background-color: var(--light-blue);
  color: white;
  width: 100%;
  font-weight: 400;
  font-size: 0.8rem;
}

form input.form-control,
button[type="submit"] {
  border-radius: 0;
  padding: 0.8rem;
  font-size: 0.8rem;
}

.yellow-coupon {
  height: 80px;
  width: 300px;
  background-color: var(--dark-yellow);
  margin-inline: auto;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 20%,
    100% 80%,
    94% 100%,
    20% 100%,
    0 100%,
    0% 20%
  );
}

.discount-container {
  border: 3px dashed white;
  display: flex;
  justify-content: center;
  font-weight: 800;
}

.dollor-sign {
  align-self: start;
}

.amount {
  margin-right: 0.2rem;
}

.book-online-text p {
  font-weight: 700;
  margin-bottom: -1px;
}

.off-text {
  padding-top: 0.6rem;
  transform: rotate(-90deg);
}

/* services */
.placeholder-box {
  height: 230px;
  width: 100%;
  background-color: gray;
  position: relative;
}

.placeholder-box-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.placeholder-box-title .box {
  background-color: var(--light-blue);
  padding: 0.7rem;
}

.placeholder-box-title span {
  clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
  background-color: var(--navy-blue);
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  padding-left: 1rem;
}

.services h2 {
  margin-top: 5rem;
}

.custom-line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.339);
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3rem;
}

.logo-container img {
  width: 100px;
}

section.free-quote {
  color: white;
}

.btn-navy,
.btn-free {
  padding: 0.8rem 2rem;
  border-radius: 0;
  margin: 0.5rem;
  font-weight: 600;
}

.btn-free {
  background-color: white;
  color: var(--light-blue);
}

/* provided services section */

.provided-services img.plumber-image {
  height: 100%;
  object-fit: cover;
  clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cards .card {
  border-radius: 0;
  width: 17rem;
  height: 9rem;
}

.card .card-text {
  font-size: 0.7rem;
}

.card .card-title,
.card-text {
  text-align: left;
}

.cards .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards .card .card-body .light-blue {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.cards .card .card-body .card-title {
  /* align-self: center; */
  font-size: 1.1rem;
}

.cards .card .card-body .light-blue i {
  font-size: 1.9rem;
  color: var(--light-blue);
  align-self: start;
}

/* Payment section */
.payment {
  position: relative;
}
.payment .banner-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment .first-row {
  background-color: var(--navy-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.payment .second-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.payment .second-row .step-card {
  flex: 1;
}

section.payment .first-row img.aqua-pro {
  object-fit: contain;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

/* Accordian */

.accordion-button::after {
  display: none;
}

button.accordion-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  background-color: var(--bg-color);
}

.accordion-button span {
  margin-left: auto;
}

.accordion-button .plus-sign {
  display: inline;
}

.accordion-button .minus-sign {
  display: none;
}

.accordion-button.collapsed .plus-sign {
  display: inline;
}

.accordion-button.collapsed .minus-sign {
  display: none;
}

.accordion-button:not(.collapsed) .plus-sign {
  display: none;
}

.accordion-button:not(.collapsed) .minus-sign {
  display: inline;
}

.accordion-header {
  min-height: 60px;
}

.accordion-body {
  text-align: left;
}

/* CTA section */
section.cta img.aqua-pro {
  object-fit: contain;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.cta {
  background-color: rgb(232, 230, 230);
}

/* tetimonials */
.testimonials article {
  position: relative;
}

.testimonials article img {
  transform: rotate(180deg);
}

.testimonials .testimony {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* bookings */

.booking article.mapbox {
  height: 400px;
  width: 100%;
  background-color: gray;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
}

.booking form input {
  background-color: var(--bg-color);
}

.booking .additional-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking .additional-info span {
  font-size: 0.8rem;
}

/* footer */
.footer {
  background-color: var(--navy-blue);
  color: white;
}

.footer-row {
  display: flex;
  align-items: baseline;
}

.footer img.aqua-pro {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.list-group a {
  text-decoration: none;
}

.list-group .list-group-item {
  background-color: var(--navy-blue);
  color: white;
  border: none;
}

.footer-text span.brand {
  padding-left: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
}
