/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    justify-content: center;
  }

  .footer-text {
    display: flex;
    align-items: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .yellow-coupon {
    bottom: -80px;
  }

  .custom-line {
    width: 50%;
  }

  .navy-blue {
    clip-path: polygon(4% 0, 100% 0%, 100% 100%, 0% 100%);
  }

  section.payment .second-row {
    flex-direction: row;
    padding-top: 2rem;
  }
  section.payment .second-row .step-card:nth-child(2) {
    border-left: 2px solid rgba(128, 128, 128, 0.248);
    border-right: 2px solid rgba(128, 128, 128, 0.248);
  }

  .cta .cta-row {
    display: flex;
    align-items: center;
  }

  .booking .additional-info {
    flex-direction: row;
    justify-content: start;
    gap: 3rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .custom-line {
    width: 60%;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cards {
    justify-content: start;
  }

  .provided-services img.plumber-image {
    z-index: 1;
  }

  section.provided-services {
    z-index: 1;
  }

  section.payment {
    margin-top: -35px;
    z-index: 2;
    position: relative;
    width: 85%;
    margin-inline: auto;
  }

  section.payment .first-row {
    padding-top: 1rem;
  }

  section.payment .second-row .step-card {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    text-align: left;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .provided-services article {
    padding-left: 8rem;
  }
}
